*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    }
   
.container{
    border-radius: 16px;
    background: transparent;

}
input{
    width: 320px;
    height: 40px;
    background: transparent;
    border: none;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(205, 164, 50);
    padding: 10px;
    margin: 20px;
}
button{
    border: none;
    width: 60px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 10px  rgba(255, 255,255,0.15);
    cursor: pointer;
}